/**/*.pyc
/**/__pycache__/
/**/gurobi.log
/**/*.pkl
/**/*.pyc
/sandbox/
/ifac_wc_2020/figures/**/*.pdf
/automatica_2019/figures/**/*.pdf
!/ifac_wc_2020/figures/.gitkeep
!/automatica_2019/figures/.gitkeep
!/**/figures/*_example.png

